<!DOCTYPE html>
<html>
<head>
  <title>CoaxFolks</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,700italic,400,400italic">
  <link rel="icon" href="/assets/favicon.png?v=4">
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header header__full">
    <div class="container container__flex container__align-items">
      <div class="header--logo header--logo__full">
        <a href="/">
          <%= image_tag 'logo_white.svg' %>
        </a>
      </div>

      <div class="header--nav">
        <a href="/calendar" class="header--link">Calendar</a>
        <a href="/contact" class="header--button">Contact</a>
      </div>
    </div>
  </header>

  <header class="header header__small container">
    <div class="header--logo header--logo__small">
      Coax<em>&amp;</em>Folks
    </div>

    <div class="header--control"></div>
  </header>

  <nav>
    <div class="container">
      <a href="/">Home</a>
      <a href="/calendar">Calendar</a>
      <a href="/contact" class="nav--contact">Contact</a>
    </div>
  </nav>

  <div class="page">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer--block">
        <ul>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="footer--block">
        <ul>
          <li>coaxandfolks@gmail.com</li>
          <li>708.612.6034</li>
        </ul>
      </div>
    </div>
  </footer>

</body>
</html>
